<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>com.example.CalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
</web-app>

